body {
  background-color: rgb(58, 58, 58);
}
* {
  box-sizing: border-box;
}
h1 {
  color: rgb(212, 0, 255);
  margin-left: 20px;
}
p {
  color: rgb(212, 0, 255);
  margin-left: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #ccc;
  width: 60px;
} 

home {
  color: red;
}
<a href="default.asp">Home</a> {
  color: rgb(212, 0, 255);
  margin-left: 20px;
}